* {
	
}

body {
	
}

#bodytitle {
	font-weight: 800;
	text-align: center;
	font-size: 60px;
}

.flex-container {
	display: flex;
	justify-content: center;
}

#table {

	margin: 6px 50px;
	text-align: left;
}

#prog {
	text-align: center;
}

#tablecaption {
	font-weight: 700;
	font-size: 24px;
}