* {
	
}

body {
	
}

#bodytitle {
	font-weight: 800;
	text-align: center;
	font-size: 60px;
}

.flex-container {
	display: flex;
	justify-content: center;
}

#table {
	width: 450px;
	margin: 6px 50px;
}